<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="ibox-title">
        <h2>Personal Information</h2>
      </div>
      <div class="ibox-content">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="row">
            <div class="col-md-12">
              <%= bootstrap_flash %>
              <%= f.input :email, required: true, autofocus: true, :placeholder => "Email" %>
              <%= f.input :professional, as: :hidden, input_html: {value: params[:professional]} %>
              <%= f.input :password, required: true, :placeholder => "Password", :label => false, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              <%= f.input :password_confirmation, :placeholder => "Password Confirmation", required: true, :label => false %>
              <%= f.submit "Sign Up", :class => "btn btn-primary full-width" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/login', media: 'all' %>
<% end %>
