<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-6">
      <div class="ibox-title">
        <h2>LOGIN</h2>
      </div>
      <div class="ibox-content">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= bootstrap_flash %>
          <%= f.input :email, required: false, autofocus: true, :label => false, :placeholder => "Email" %>
          <%= f.input :password, required: false, :label => false, :placeholder => "Password" %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

          <%= f.submit "Log In", :class => "btn btn-primary full-width" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="ibox-title">
        <h2>Not a member yet?</h2>
      </div>
      <div class="ibox-content">
        <%= link_to user_facebook_omniauth_authorize_path(professional: params[:professional]), class: "signup-button facebook" do %>
          <span class="icon fa fa-facebook"></span> <span class="text">Sign up with Facebook</span>
        <% end %>
        <%= link_to user_google_oauth2_omniauth_authorize_path(professional: params[:professional]), class: "signup-button google" do %>
          <span class="icon fa fa-google"></span> <span class="text">Sign up with Google</span>
        <% end %>

        <div class="separator-signup">
          <span>- or -</span>
        </div>

        <a class="signup-button email" href="<%= new_user_registration_path(professional: params[:professional]) %>">
          <span class="text">Sign up with Email</span>
        </a>

        <p class="agree">By signing up, you agree to canva's <a href="#">Term of Use</a> and <a href="#">Privacy Policy</a>.</p>
      </div>
    </div>

  </div>
</div>

<%= content_for :stylesheets do %>
  <%= stylesheet_link_tag 'views/login', media: 'all' %>
<% end %>
