<!DOCTYPE html>
<html>
  <head>
    <title>Medicalbook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="top-navigation">
    <%= yield :stylesheets %>
    <div id="wrapper">
      <div id="page-wrapper" class="gray-bg">
        <%= render 'layouts/inspinia-template/header' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/inspinia-template/footer' %>
    <%= yield :javascripts %>
  </body>
</html>
